.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.reveal {
    cursor: pointer;

    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);

    box-sizing: border-box;
    width: 28px;
    height: 28px;
    margin: unset;
    padding: unset;
        border: unset;
    border-color: transparent;

    appearance: none;
    background-color: transparent;
    background-image: url('/icons/eye-open.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.reveal:checked {
    background-image: url('/icons/eye-closed.svg')
}


.reveal:hover,
.reveal:focus,
.reveal:focus-visible {
    border: unset;
}