.label {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.error {
    margin: unset;
    margin-block-start: 6px;

    font-size: 12px;
    color: var(--color-text-primary-error);
    text-align: start
}