.root {
    padding: unset;
    text-align: center;
    list-style-type: none;
    appearance: none;
}

.root > .item:not(:first-child)::before {
    content: '·';
    margin-inline: 4px;
}

.item {
    display: inline-block;
    appearance: none;
}