.wrapper {
    cursor: pointer;
    user-select: none;

    display: inline-block;
    display: flex;
    gap: 8px;

    font-size: 14px;
    line-height: 24px
}

.checkmark {
    cursor: pointer;

    position: relative;

    display: inline-block;
    flex-shrink: 0;

    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin: unset;
    padding: unset;
    padding: unset;
    border-radius: 3px;

    appearance: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.checkmark:checked {
    background-image: url('/icons/check.svg');
}

.children {
    user-select: text;
}